mat-card {
  margin: 2%;
}

.action-column-header {
  margin: 0 auto;
}

.action-column {
  flex: 0 0 125px;
}

.icon-status {
  margin-right: 10px;
}

.titulo-filtros {
  margin-bottom: 5px;
  font-size: 1rem;
}

.search-container{
  padding: 18px;
  display: flex;
}

.margin-search {
  padding-right: 5px;
}

.buttons-search {
  padding: 10px 15px;
  margin-left: 10px;
}

.buttons-search-container {
  display: flex;
  
}