<mat-card>

  <mat-card-content>
    <mat-toolbar color="primary">Ordem de Produção</mat-toolbar>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Lote Op" formControlName="loteOp" #loteOp>
        <mat-hint align="end">{{ loteOp.value.length || 0 }}/20 </mat-hint>
        <mat-error *ngIf="form.get('loteOp')?.invalid">{{
          getErrorMessage("loteOp")
        }}</mat-error>
      </mat-form-field>

      <div class="container-datahora">
        <div class="middle-width p-0">
          <mat-form-field class="full-width">
            <mat-label>Data Inicial</mat-label>
            <input matInput type="date" formControlName="dataInicialOp" name="dataInicialOp">
          </mat-form-field>
        </div>

        <div class="middle-width p-0">
          <mat-form-field class="full-width">
            <mat-label>Horário</mat-label>
            <input matInput type="time" formControlName="horaInicialOp" name="horaInicialOp" #time>
          </mat-form-field>
        </div>
      </div>

      <div class="container-datahora">
        <div class="middle-width p-0">
          <mat-form-field class="full-width">
            <mat-label>Data Final</mat-label>
            <input matInput type="date" formControlName="dataFinalOp" name="dataFinalOp">
          </mat-form-field>
        </div>

        <div class="middle-width p-0">
          <mat-form-field class="full-width">
            <mat-label>Horário</mat-label>
            <input matInput type="time" formControlName="horaFinalOp" name="horaFinalOp" #time>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusOrdemProducao">
          <mat-option value="EmProducao">Em produção</mat-option>
          <mat-option value="AguardandoEnvio">Aguardando Envio</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('statusOrdemProducao')?.invalid">{{
          getErrorMessage("statusOrdemProducao")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Qtd peças" formControlName="qtdePecasOp">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Situação</mat-label>
        <mat-select formControlName="enumStatus">
          <mat-option value="Ativo">Ativo</mat-option>
          <mat-option value="Inativo">Inativo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Terceiro</mat-label>
        <mat-select formControlName="terceiro">
          <mat-option *ngFor="let terceiro of terceiros" [value]="terceiro">{{ terceiro.razaoSocial }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Oservação" formControlName="obsOp" #obsOp>
        <mat-hint align="end">{{ obsOp.value.length || 0 }}/255 </mat-hint>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar </button>
    <button mat-raised-button (click)="onCancel()" class="btn-space">Cancelar</button>
  </mat-card-actions>



</mat-card>


