<mat-card>

    <mat-card-content>
      <mat-toolbar color="primary">Usuário </mat-toolbar>
      <form [formGroup]="form" class="min-width">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" #userName>        
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" #password>        
        </mat-form-field> -->

        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" #email>        
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Status</mat-label>
          <mat-select formControlName="enumStatus">
            <mat-option value="Ativo">Ativo</mat-option>
            <mat-option value="Inativo">Inativo</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar </button>
      <button mat-raised-button (click)="onCancel()" class="btn-space">Cancelar</button>
    </mat-card-actions>
  
  </mat-card>
