<mat-card>

    <mat-card-content>
      <mat-toolbar color="primary">Usuário </mat-toolbar>
      <form [formGroup]="form" class="min-width">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="nomeUsuario" #nomeUsuario>        
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Senha" formControlName="senhaUsuario" #senhaUsuario>        
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Tipo usuário</mat-label>
          <mat-select formControlName="tipoUsuario">
            <mat-option value="1">Admin</mat-option>
            <mat-option value="2">Normal</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="E-mail" formControlName="emailUsuario" #emailUsuario>        
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Status</mat-label>
          <mat-select formControlName="enumStatus">
            <mat-option value="Ativo">Ativo</mat-option>
            <mat-option value="Inativo">Inativo</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar </button>
      <button mat-raised-button (click)="onCancel()" class="btn-space">Cancelar</button>
    </mat-card-actions>
  
  </mat-card>
