<!-- <mat-card>

    <mat-card-content>
      <mat-toolbar color="primary">Incluir Usuário </mat-toolbar>
      <form [formGroup]="form" class="min-width">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="nomeUsuario" #nomeUsuario>
          <mat-hint align="end">{{ nomeUsuario.value.length || 0 }}/20 </mat-hint>
          <mat-error *ngIf="form.get('loteOp')?.invalid">{{
            getErrorMessage("loteOp")
          }}</mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input matInput placeholder="Data inicial" formControlName="dataInicialOp">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>Status</mat-label>
          <mat-select formControlName="statusOrdemProducao">
            <mat-option value="EmProducao">Em produção</mat-option>
            <mat-option value="AguardandoEnvio">Aguardando Envio</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('statusOrdemProducao')?.invalid">{{
            getErrorMessage("statusOrdemProducao")
          }}</mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input matInput placeholder="Qtd peças" formControlName="qtdePecasOp">
        </mat-form-field>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar </button>
      <button mat-raised-button (click)="onCancel()" class="btn-space">Cancelar</button>
    </mat-card-actions>
  
  </mat-card> -->

  <form [formGroup]="form">
    <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nomeUsuario" #nomeUsuario>
    </mat-form-field>
  </form>
