<mat-card class="mat-elevation-z8">
  <mat-card-header></mat-card-header>

  <mat-card-content>
    <mat-toolbar color="primary"> Usuários </mat-toolbar>

    <div class="column-flex mat-elevation-z8"></div>

    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nomeUsuario">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.nomeUsuario }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="senhaUsuario">
        <mat-header-cell *matHeaderCellDef>Senha</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.senhaUsuario }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailUsuario">
        <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.emailUsuario }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="enumStatus">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.enumStatus }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column">
          <button mat-mini-fab color="accent" aria-label="Novo Usuário" (click)="onAdd()" class="action-column-header">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let element" class="action-column">
          <button mat-icon-button color="primary" aria-label="Editar Usuário" (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" aria-label="Remover Usuário" (click)="onDelete(element)">
            <mat-icon>close</mat-icon>
          </button>

        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

</mat-card-content>

<mat-card-footer>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="">

  </mat-paginator>


</mat-card-footer>

</mat-card>

