<!-- <img src="../../../assets/images/blue-fabric.jpg" alt=""> -->
<div class="background-img card">
  <div class="">
    <mat-card>
      <mat-card-content>
        <mat-toolbar color="primary">Login </mat-toolbar>
        <form [formGroup]="form" class="min-width">
          <mat-form-field class="space-input inputs">
            <input
              matInput
              placeholder="Username"
              formControlName="username"
              #emaiLogin
              required="Preencha este campo"
            />
          </mat-form-field>

          <mat-form-field class="space-input">
            <input
              type="password"
              matInput
              placeholder="Senha"
              formControlName="password"
              #senhaLogin
              required="Preencha este campo"
            />
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSignIn()">Entrar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!--  -->
